*{
    margin: 0;
}
.items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.first{
    display: flex;
    gap: 30px;
   
}

img{
    width: 20px;
    height: 30px;
}
.tab {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
