.navbar{
    display: flex;
    height: 80px;
    background-color: aqua;
    color: black;
    justify-content: space-between;
    align-items: center;
    
   
}
.navbar a{
    box-sizing: border-box;
    border: 1px solid #B1A592;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px;
    width: 1px;
    font-weight: 100;
    font-size: 20px;
    justify-content: space-evenly;
}
#p{
    border: none;
    background-color: lawngreen;
    padding: 20px;
    margin-left: 30px; ;
    width: 30%;

}
a:hover{
    background-color: blueviolet;
    color: tomato;
    
}
@media screen and (max:600px){
    .navbar{
        height: 80px;
        flex-direction: column;
    }
    
}